<div class="auditForm">

<div class="audit_grid">
    <div class="formName">SAPS AUDIT FORM</div>
    <div class="formVer headerFontDisplay auditfont">Version 10 (2014)</div>
    <div class="formISM">ISM use Only</div>
    <div class="right-side-bar formDate  borderLeftTop borderRightBottom">{{newCallHeader.calldate}}</div>
    <div class="comp font11b">Component Nr</div>
    <div class="compEntry"><input type="text" size="4" ng-model="audit.compNr"></div>
    <div class="subComp font11b">Subcomponent nr</div>
    <div class="subCompEntry"><input type="text" size="4" ng-model="audit.subCompNr"></div>
    <div class="ARS " >ARS Call Number</div>
    <div class="ARSEntry "><input type="text" size="30" ng-model="newCallHeader.sitaref"></div>
    <div class="khauRef " >Jobcard Number</div>
    <div class="khauRefEntry "><input type="text" size="30" ng-model="newCallHeader.callid"></div>
    <div class="ISMcolor borderLeftTop ISMchk"></div>
    <div class="ISMcolor borderLeftTop borderRight ISMuse1 font11">VIP</div>   
    <div class="ISMcolor borderLeftTop ISMchk"></div>
    <div class="ISMcolor borderLeftTop borderRight ISMuse2 font11">MISSION CRITICAL</div> 
    <div class="ISMcolor borderLeftTop ISMchk"></div>
    <div class="ISMcolor borderLeftTop borderRight ISMuse3 font11">PRIORITY</div> 
    <div class="ISMcolor borderLeftTop borderBottom ISMchk"></div>
    <div class="ISMcolor borderLeftTop borderRight borderBottom ISMuse4 font11">OPERATIONAL</div> 

    <div class="right-side-bar serviceGroup">
        <div class="SGheader">Service Group</div>
        <div class="SGentries borderLeftTop">SAPS</div>
        <div class="borderLeftTop borderRight"></div>
        <div class="SGentries borderLeftTop">AVL (HQ)</div>
        <div class="borderLeftTop borderRight"></div>
        <div class="SGentries borderLeftTop">AFIS (Sagem)</div>
        <div class="borderLeftTop borderRight"></div>
        <div class="SGentries borderLeftTop">DCB (HPIS Booth)</div>
        <div class="borderLeftTop borderRight"></div>
        <div class="SGentries borderLeftTop">GSPS (HQ)</div>
        <div class="borderLeftTop borderRight"></div>
        <div class="SGentries borderLeftTop">SAPS id Card</div>
        <div class="borderLeftTop borderRight"></div>
        <div class="SGentries borderLeftTop">LCRC light S</div>
        <div class="borderLeftTop borderRight"></div>
        <div class="SGentries borderLeftTop">IJS (HQ)</div>
        <div class="borderLeftTop borderRight"></div>
        <div class="SGentries borderLeftTop borderBottom">Excaminers Friend</div>
        <div class="borderLeftTop borderRight borderBottom"></div>
    </div>
    <div class="right-side-bar softwareOS">
        <div class="osheader borderLeftTop borderRight">Software OS</div>
        <div class="osentries borderLeftTop">Dos 6</div>
        <div class="osvalues borderLeftTop borderRight"></div>
        <div class="osentries borderLeftTop">Windows 98</div>
        <div class="osvalues borderLeftTop borderRight"></div>
        <div class="osentries borderLeftTop">Windows 2000</div>
        <div class="osvalues borderLeftTop borderRight"></div>
        <div class="osentries borderLeftTop">Windows XP</div>
        <div class="osvalues borderLeftTop borderRight"></div>
        <div class="osentries borderLeftTop">Windows NT</div>
        <div class="osvalues borderLeftTop borderRight"></div>
        <div class="osentries borderLeftTop borderBottom">Windows 7</div>
        <div class="osvalues borderLeftTop borderBottom borderRight"></div>
    </div>
    <div class="right-side-bar softwarePack">
        <div class="SPheader borderLeftTop borderRight">Software Package</div>
        <div class="SPentries borderLeftTop">Corel Office 2000</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">Corel Office 7</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">Corel Office 8</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">Corel Office 9</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">Corel Office 11</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">Corel Office 12</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">MS Office 97</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">MS Office 2000</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">MS Office 2003</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">MS Office 2007</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">MS Office 2010</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">MS Project</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">MS Outlook</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">Corel Draw</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">Internet Explorer</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop">WinZip</div>
        <div class="SPvalues borderLeftTop borderRight"></div>
        <div class="SPentries borderLeftTop borderBottom">Winplayer</div>
        <div class="SPvalues borderLeftTop borderRight borderBottom"></div>
    </div>
    <div class="right-side-bar softwareSys">
        <div class="SSheader borderLeftTop borderRight">Software System</div>
        <div class="SSentries borderLeftTop borderBottom">SER</div>
        <div class="SSvalues borderLeftTop borderRightBottom"></div>
    </div>
    <div class="right-side-bar networkOS">
        <div class="nosheader borderLeftTop borderRight">Software System</div>
        <div class="nosentries borderLeftTop">EPC 32bit</div>
        <div class="nosvalues borderLeftTop borderRight"></div>
        <div class="nosentries borderLeftTop">Client 32 (Novel)</div>
        <div class="nosvalues borderLeftTop borderRight"></div>
        <div class="nosentries borderLeftTop borderBottom">My Extra</div>
        <div class="nosvalues borderLeftTop borderRightBottom"></div>
    </div>
    <div class="right-side-bar networkSys">
        <div class="nsysheader  borderLeftTop borderRight">Network System</div>
        <div class="nsysentries borderLeftTop">Internet</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">Intranet</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">BIU</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">Netwizard</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">Norton AV</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">PPM</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">TMS</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">AIS</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">AFIS</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop">NPIS</div>
        <div class="nsysvalues borderLeftTop borderRight"></div>
        <div class="nsysentries borderLeftTop borderBottom">FES</div>
        <div class="nsysvalues borderLeftTop borderRightBottom"></div>
    </div>
    <div class="right-side-bar other">
        <div class="otherheader borderLeftTop borderRight">Other</div>
        <div class="otherentries borderLeftTop">Service Pack installed</div>
        <div class="othervalues borderLeftTop borderRight"></div>
        <div class="otherentries borderLeftTop">SUS updated</div>
        <div class="othervalues borderLeftTop borderRight"></div>
        <div class="otherentries borderLeftTop borderBottom">Adm Pass Removed</div>
        <div class="othervalues borderLeftTop borderRightBottom"></div>
    </div>
    <div class="left_hand_bar userinfo font10">
        <div class="userinfoheader font12b">USER INFO</div>
        <div class="userinfoentries">Persal no</div>
        <div class="userinfovalues"><input type="text" ng-model="audit.persal"></div>
        <div class="userinfoentries">Rank</div>
        <div class="userinfovalues"><input type="text" ng-model="audit.rank"></div>
        <div class="userinfoentries">Client</div>
        <div class="userinfovalues"><input type="text" ng-model="jobcard.reporter.name" ></div>
    </div>

    <div class="left_hand_bar currAdd font10">
        <div class="userinfoheader font12b">CURRENT ADDRESS</div>
        <div class="userinfoentries">Unit</div>
        <div class="userinfovalues"><input type="text" ng-model="jobcard.site.site"></div>
        <div class="userinfoentries">Building</div>
        <div class="userinfovalues"><input type="text" ng-model="jobcard.site.building"></div>
        <div class="userinfoentries">Street</div>
        <div class="userinfovalues"><input type="text" ng-model="jobcard.site.street" ></div>
        <div class="userinfoentries">Suburb</div>
        <div class="userinfovalues"><input type="text" ng-model="audit.suburb" ></div>
        <div class="userinfoentries">Town / City</div>
        <div class="userinfovalues"><input type="text" ng-model="jobcard.site.town" ></div>
        <div class="userinfoentries">Floor no</div>
        <div class="userinfovalues"><input type="text" ng-model="jobcard.site.floor" ></div>
        <div class="userinfoentries">Room no</div>
        <div class="userinfovalues"><input type="text" ng-model="jobcard.site.room" ></div>
        <div class="userinfoentries">Tel number</div>
        <div class="userinfovalues"><input type="text" ng-model="jobcard.reporter.tel" ></div>
    </div>

    <div class="center_bar accPerson font10">
        <div class="accheader font12b">ACCOUNTABLE PERSON</div>
        <div class="accentries">Persal no</div>
        <div class="accvalues"><input type="text" ng-model="audit.persal" size="100%" ></div>
        <div class="accentries">Rank</div>
        <div class="accvalues"><input type="text" ng-model="audit.rank" size="39fr"></div>
        <div class="accentries">Client</div>
        <div class="accvalues"><input type="text" ng-model="jobcard.reporter.name" size="30"></div>
        <div class="accentries">Tel no</div>
        <div class="accvalues"><input type="text" ng-model="jobcard.reporter.tel" size="30"></div>
        <div class="accentries">
            <a href="#accsignlink" id="accsignlink signature_holder" ng-click="sign('#accsignbackground')">Signature:</a>
        </div>
        <div id="accsignbackground" class="accsign borderLeftTop borderRightBottom signature_holder"></div>
    </div>

    <div class="auditTechnician center_bar font10">
        <div class="audtechheader font12b">TECHNICIAN</div>
        <div class="accentries">Name / Surname</div>
        <div class="techName borderLeftTop borderRight">Jaco Swart</div>
        <div class="accentries">
            <a href="#techSignLink" id="techSignLink signature_holder" ng-click="sign('#techsignbackground')">Signature:</a>
        </div>
        <div id="techsignbackground" class="borderLeftTop borderRightBottom techSign signature_holder"></div>


    </div>

    <div class="connect font10">
        <div class="connectLables">T-Number</div>         
        <div><input class="connectEntries" type="text"></div>
        <div class="connectLables">P-Number</div>
        <div><input class="connectEntries" type="text"></div>
    </div>
    <div class="offline">
        <div class="offlineLables">Online</div>         
        <div><input class="offlineEntries" type="checkbox"></div>
        <div class="offlineLables">Offline</div>
        <div><input class="offlineEntries" type="checkbox"></div>
    </div>
    <div class="email font10">
        <div class="emailHeader">Email</div>
        <div class="emailLables">Mailbox Name</div>         
        <div><input class="emailEntries" type="text"></div>
        <div class="emailLables">User Name</div>
        <div><input class="emailEntries" type="text"></div>
    </div>
    <div class="userName font10">
        <div class="userLables">User Name</div>         
        <div><input class="userEntries" type="text"></div>
    </div>
    <div class="pcName font10">
        <div class="pcLables">PC Name</div>         
        <input class="pcEntries" type="text">
    </div>
    <div class="wallName font10">
        <div class="wallLables">Wallbox number</div>         
        <input class="wallEntries" type="text">
    </div>
    <div class="macName font8">
        <div class="macLables1 borderLeftTop">Mac Address</div>         
        <div class="macEntries1 borderLeftTop  "><input type="text" class="noborder"></div>
        <div class="macLables2 borderLeftTop ">I.P. Address</div>         
        <div class="macEntries2 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="macLables1 borderLeftTop borderBottom">Netwizard Name</div>         
        <div class="macEntries1 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="macLables2 borderLeftTop borderBottom ">Printer IP Workgroup</div>         
        <div class="macEntries2 borderLeftTop borderRightBottom"><input type="text" class="noborder"></div>
    </div>
    <div class="pasName">Cardboard Box Serial (PAS)</div>
    <div class="pcDetailsHeader font10">
        <div>Type</div>
        <div>Make and model</div>
        <div>Web Number</div>
        <div>Service Tag</div>
        <div>Serial Number</div>
    </div>
    <div class="pcDetails font8">
        <div class="pcDetailsLables1 borderLeftTop">Processor</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">CPU Speed</div>
        <div class="pcCPUDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcCPUTypeDetailsEntries2 borderLeftTop">Type :<input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop">Processor used as</div>
        <div class="pcDetailsEntries4 pcDetailsEntries4sub borderLeftTop">
            <span class="pcDetailsEntries4sub1 "><span>Server</span><input type="checkbox"></span> 
            <span class="pcDetailsEntries4sub2 "><span>Notebook</span><input type="checkbox"></span>
            <span class="pcDetailsEntries4sub3 borderRight"><span>PC</span> <input type="checkbox"></span> 
        </div>
        <div class="pcDetailsLables1 borderLeftTop">Screen 1 CRT/LCD</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Screen 2 CRT/LCD</div>
        <div class="pcScreen2DetailsEntries1 borderLeftTop">
            <input type="text" class="noborder">
            <span class="pcScreenSize"><span>Size</span><input class="noborder" type="text"></span>
        </div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Screen 3 CRT/LCD</div>
        <div class="pcScreen3DetailsEntries1 borderLeftTop">
            <input type="text" class="noborder">
            <span class="pcScreenSize">
                <span>Size</span>
                <input class="noborder" type="text">
            </span>
        </div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Screen 4 CRT/LCD</div>
        <div class="pcScreen4DetailsEntries1 borderLeftTop">
            <input type="text" class="noborder">
            <span class="pcScreenSize"><span>Size</span><input class="noborder" type="text"></span>
        </div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Keyboard</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop borderBottom">Mouse</div>
        <div class="pcDetailsEntries1 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRightBottom"><input type="text" class="noborder"></div>
    </div>

    <div class="pcHardware font8">
        <div class="pcHardwareLables borderLeftTop">Harddrive (1) size</div>         
        <div class="borderLeftTop borderRight"><input class="pcHardwareEntries noborder" type="text"></div>
        <div class="pcHardwareLables borderLeftTop">Harddrive (2) size</div>
        <div class=" borderLeftTop borderRight"><input class="pcHardwareEntries noborder" type="text"></div>
        <div class="pcHardwareLables borderLeftTop">Processor memory</div>
        <div class=" borderLeftTop borderRight"><input class="pcHardwareEntries noborder" type="text"></div>
        <div class="pcHardwareLables borderLeftTop">Printer Memory</div>
        <div class=" borderLeftTop borderRight"><input class="pcHardwareEntries noborder" type="text"></div>
        <div class="pcHardwareLables borderLeftTop">Stiffy Drive</div>
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input class=" borderLeftTop" type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">CD ROM drive</div>
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input class=" borderLeftTop" type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop borderBottom">DVD drive</div>
        <div class="pcHardwareEntriesSubGrid borderRightBottom">
            <span class=" borderLeftTop">Yes</span>
            <input class=" borderLeftTop" type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
    </div>

    <div class="pcHardware2 font8">
        <div class="pcHardwareLables borderLeftTop">CD Writer</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">DVD/CD Combo</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">DVD Writer</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">COM Port</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">1</span>
            <input type="checkbox">
            <span class=" borderLeftTop">2</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">LPT Port</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">1</span>
            <input type="checkbox">
            <span class=" borderLeftTop">2</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">USB Port</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">1</span>
            <input type="checkbox">
            <span class=" borderLeftTop">2</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">USB Port</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">3</span>
            <input type="checkbox">
            <span class=" borderLeftTop">4</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop borderBottom">USB Port</div>         
        <div class="pcHardwareEntriesSubGrid borderRightBottom">
            <span class=" borderLeftTop">5</span>
            <input type="checkbox">
            <span class=" borderLeftTop">6</span>
            <input type="checkbox">
        </div>
    </div>

    <div class="netHardware font8">
        <div class="font12b">Network Card</div>
        <div class="pcHardwareLables borderLeftTop">SMC 8000 card</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">Viruguard Card</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">Dinic Card</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">Accton Card</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">Intel E100</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop">3COM</div>         
        <div class="pcHardwareEntriesSubGrid borderRight">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        <div class="pcHardwareLables borderLeftTop borderBottom">Realtek</div>         
        <div class="pcHardwareEntriesSubGrid borderRightBottom">
            <span class=" borderLeftTop">Yes</span>
            <input type="checkbox">
            <span class=" borderLeftTop">No</span>
            <input type="checkbox">
        </div>
        
    </div>

    <div class="pcDetails2 font8">
        <div class="pcDetailsLables1 borderLeftTop">Laser Printer</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Dot Matrix Printer</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Colour Laser</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Cheque Printer</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Inkjet Colour Printer</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">Pinstamp Printer</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop">ID Card Printer</div>
        <div class="pcDetailsEntries1 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop borderBottom">UPS</div>
        <div class="pcDetailsEntries1 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRightBottom"><input type="text" class="noborder"></div>
        <div style="font-weight: bold;">Other</div>
        <div class=""></div>
        <div class="noborder"></div><div class="noborder"></div><div class="noborder"></div><div class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Plotter</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Fax Machine</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Multifunction Centre</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Flatbed Scanner</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">PSU Notebook</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Docking Station</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Speakers</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Transceiver</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Hub</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Webcam</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Projector</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">Palm Top / PDA</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">External CD Rom</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">External Hard drive</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">External Stiffy</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop ">External DVD</div>
        <div class="pcDetailsEntries1 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop "><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRight"><input type="text" class="noborder"></div>
        <div class="pcDetailsLables1 borderLeftTop borderBottom">Port Replicator</div>
        <div class="pcDetailsEntries1 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries2 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries3 borderLeftTop borderBottom"><input type="text" class="noborder"></div>
        <div class="pcDetailsEntries4 borderLeftTop borderRightBottom"><input type="text" class="noborder"></div>
    </div>
    <div class="commentsLabel">Comments</div>
    <div class="comments"><textarea ></textarea></div>

    <div class="action font9b">
        <div class="actionLabel borderLeftTop">Replacement</div>
        <div class="borderLeftTop borderRight"><input type="Checkbox"></div>
        <div class="actionLabel borderLeftTop">Transfer</div>
        <div class="borderLeftTop borderRight"><input type="Checkbox"></div>
        <div class="actionLabel borderLeftTop borderBottom">Expansion</div>
        <div class="borderLeftTop borderRightBottom"><input type="Checkbox"></div>
    </div>

    <div class="replacedDetails font9b">
        <div class="actionLabel ">Replaced Item</div>
        <div class="actionLabel ">Web Number</div>
        <div class="actionLabel ">Serial</div>
        <div class="borderLeftTop">{{jobcard.equipment.make}}</div>
        <div class="borderLeftTop">{{newCallHeader.assetnr}}</div>
        <div class="borderLeftTop borderRight">{{jobcard.equipment.serial}}</div>
        <div class="borderLeftTop borderBottom"><input class="noborder" type="text"></div>
        <div class="borderLeftTop borderBottom"><input class="noborder" type="text"></div>
        <div class="borderLeftTop borderRightBottom"><input class="noborder" type="text"></div>
    </div>

    <div class="relocationDetails font9b">
        <div class="actionLabel ">Relocation Item</div>
        <div class="actionLabel ">Web Number</div>
        <div class="actionLabel ">Serial</div>
        <div class="borderLeftTop"><input class="noborder" type="text"></div>
        <div class="borderLeftTop"><input class="noborder" type="text"></div>
        <div class="borderLeftTop borderRight"><input class="noborder" type="text"></div>
        <div class="borderLeftTop borderBottom"><input class="noborder" type="text"></div>
        <div class="borderLeftTop borderBottom"><input class="noborder" type="text"></div>
        <div class="borderLeftTop borderRightBottom"><input class="noborder" type="text"></div>
    </div>





</div>