<!-- Fuel Management-->
<div>
  <div id="jobcard-grid">
    <img id="jc-logo" class="imagedisplay" src="img/khauleza.png" alt="Khauleza Logo: " height="50">
    <h3 id="jc-title" style="text-align:center">TECHNICIAN FUEL MANAGEMENT</h3>
  </div>
  
  <hr color=black>
  
  <div id="fuel-entry" >
    <div id="fueldate">
      Date :<input ng-model="fuel.date" type="date">
    </div>
    <div id="fuelliters">
      Liters :<input ng-model="fuel.liters" type="number"> 
    </div>
    <div id="fuelamount">
      Amount :<input ng-model="fuel.amount" type="number">
    </div>
    <div id="fueljobcard">
      Jobcard :<input class="hide_on_print" ng-model="fuel.jobcard" type="text">
    </div>
    <div id="fuelvehicle">
      Vehicle :<input class="hide_on_print" ng-model="fuel.vehicle" type="text">
    </div>
  </div>
  <div id="submitbutton" >
    <button ng-click="submitFuelData()">Submit</button>
    <button ng-click="generateFuelReport()">Generate Report</button>
  </div>
  
  <hr color=black>
  
  <div id="fuel-table">
    <div id="tfueldate">
      Date :
    </div>
    <div id="tfuelliters">
      Liters :
    </div>
    <div id="tfuelamount">
      Amount :
    </div>
    <div id="tfueljobcard">
      Jobcard :
    </div>
    <div id="tfuelvehicle">
      Vehicle :
    </div>
  </div>
  <hr color="black">
</div>