    <!-- Parts Replacement page -->
    <div>
      <img class="imagedisplay" src="img/khauleza.png" alt="Khauleza Logo: " height="50">
      <br>
      <!-- PC COMPONENTS REPLACEMENT -->
      <table align="center" style="border: 1px solid">
        <tr class="noborder">
          <!-- Doc Header -->
          <th colspan="7">
            <h3 style="text-align: center;">PC COMPONENTS REPLACEMENT</h3>
          </th>
        </tr>
        <tr class="noborder">
          <!-- SITA Ref -->
          <td style="text-align: right;">SITA Ref:</td>
          <td colspan="2">
            <input class="input bottom-border" type="text" ng-model="newcall.sitaref">
          </td>
          <td></td>
          <td style="text-align: right;">WEB No:</td>
          <td colspan="2">
            <input class="input bottom-border " type="text" ng-model="newcall.assetnr">
          </td>
        </tr>
        <tr class="noborder">
          <!-- HEAT row -->
          <td style="text-align: right;">Heat Ref:</td>
          <td colspan="2">
            <input class="input bottom-border" ctype="text" ng-model="newcall.callid">
          </td>
          <td></td>
          <td style="text-align: right;">Date:</td>
          <td colspan="2">
            <input class="input bottom-border" ctype="text" ng-model="newcall.calldate">
          </td>
        </tr>
        <tr class="noborder">
          <td>
            <br>
          </td>
        </tr>
        <tr class="noborder">
          <td colspan="3">On site findings / faulty items</td>
          <td></td>
          <td colspan="3">Replacement details / new items</td>
        </tr>
        <tr class="noborder">
          <td style="width: 15%;">Part</td>
          <td style="width: 15%;">Type & Model</td>
          <td style="width: 15%;">Serial number</td>
          <td style="width: 5%;"></td>
          <td style="width: 15%;">Part</td>
          <td style="width: 15%;">Type & model</td>
          <td style="width: 15%;">Serial Number</td>
        </tr>
        <tr>
          <td style="width: 15%; border-top: 0.5px solid;">M/B</td>
          <td style="width: 15%; border-top: 0.5px solid;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultymb" >
          </td>
          <td style="width: 15%; border-top: 0.5px solid;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultymbserial">
          </td>
          <td style="width: 5%; border: none;"></td>
          <td style="width: 15%; border-top: 0.5px solid; border-left: 0.5px solid;">M/B</td>
          <td style="width: 15%; border-top: 0.5px solid;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedmb">
          </td>
          <td style="width: 15%; border-top: 0.5px solid; border-right: none;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedmbserial">
          </td>
          <td style="border-top: 0.5px solid;"></td>
          
        </tr>
        <tr>
          <td style="width: 15%;">CPU</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultycpu">
          </td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultycpuserial">
          </td>
          <td style="width: 5%; border: none;"></td>
          <td style="width: 15%; border-left: 0.5px solid;">CPU</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedcpu">
          </td>
          <td style="width: 15%; border-right: none;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedcpuserial">
          </td>
          <td style="border-top: 0.5px solid;"></td>
        </tr>
        <tr>
          <td style="width: 15%;">RAM SIZE</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultyram1">
          </td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultyram1serial">
          </td>
          <td style="width: 5%; border: none;"></td>
          <td style="width: 15%; border-left: 0.5px solid;">RAM SIZE</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedram1">
          </td>
          <td style="width: 15%; border-right: none;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.raplacedram1serial">
          </td>
          <td style="border-top: 0.5px solid;"></td>
        </tr>
        <tr>
          <td style="width: 15%;">
            <br>
          </td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultyram2">
          </td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultyram2serial">
          </td>
          <td style="width: 5%; border: none;"></td>
          <td style="width: 15%; border-left: 0.5px solid;"></td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedram2">
          </td>
          <td style="width: 15%; border-right: none;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedram2serial">
          </td>
          <td style="border-top: 0.5px solid;"></td>
        </tr>
        <tr>
          <td style="width: 15%;">PSU</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultypsu">
          </td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultypsuserial">
          </td>
          <td style="width: 5%; border: none;"></td>
          <td style="width: 15%; border-left: 0.5px solid;">PSU</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedpsu">
          </td>
          <td style="width: 15%; border-right: none;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedpsuserial">
          </td>
          <td style="border-top: 0.5px solid;"></td>
        </tr>
        <tr>
          <td style="width: 15%;">DVD/CD</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultydvd">
          </td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultydvdserial">
          </td>
          <td style="width: 5%; border: none;"></td>
          <td style="width: 15%; border-left: 0.5px solid;">DVD/CD</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replaceddvd">
          </td>
          <td style="width: 15%; border-right: none;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replaceddvdserial">
          </td>
          <td style="border-top: 0.5px solid;"></td>
        </tr>
        <tr>
          <td style="width: 15%;">HDD</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultyhdd">
          </td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.faultyhddserial">
          </td>
          <td style="width: 5%; border: none;"></td>
          <td style="width: 15%; border-left: 0.5px solid;">HDD</td>
          <td style="width: 15%;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedhdd">
          </td>
          <td style="width: 15%; border-right: none;">
            <input size="15" class="textinput" type="text" ng-model="newparts.partsrep.replacedhddserial">
          </td>
          <td style="border-top: 0.5px solid;"></td>
        </tr>
        <tr class="noborder">
          <td>
            <br>
          </td>
        </tr>
        <tr class="noborder">
          <td style="text-align: right;">Client name:</td>
          <td style="border-bottom: 0.5px solid" colspan="2">
            <span ng-if="jobcard.signoff.samename"> {{jobcard.reporter.name}}</span>
            <span ng-if="!jobcard.signoff.samename"> {{jobcard.signoff.name}}</span>
          </td>
          <td style="width: 5%;"></td>
          <td style="text-align: right;">Client Name:</td>
          <td style="border-bottom: 0.5px solid" colspan="3">
            <span ng-if="jobcard.signoff.samename"> {{jobcard.reporter.name}}</span>
            <span ng-if="!jobcard.signoff.samename"> {{jobcard.signoff.name}}</span>
          </td>
        </tr>
        <tr class="noborder">
          <td rowspan="2" style="text-align: right; height: 4em">
            <a href="#prclientsign1" id="prclientsign1" ng-click="sign('#customersignpr1background')">Client Signature:</a>
          </td>
          <td id="customersignpr1background" class="signature_holder bottom-border" colspan="2" rowspan="2"></td>
          <td rowspan="2" colspan="2" style="text-align: right;">
            <a href="#prclientsign2" id="prclientsign2" ng-click="sign('#customersignpr2background')">Client Signature:</a>
          </td>
          <td id="customersignpr2background" class="signature_holder bottom-border" colspan="2" rowspan="2"></td>
        </tr>
        
        <tr class="noborder">
          <td></td>
        </tr>
        
        <tr class="noborder">
          <td>
            <br>
          </td>
        </tr>
        
        <tr class="noborder">
          <td style="text-align: right;">Technician
            <br>Name
          </td>
          <td colspan="2" class="bottom-border">
            Jaco Swart
          </td>
          <td></td>
          <td style="text-align: right">
            <a href="#techsignpr" id="techsignpr" ng-click="sign('#techsignprbackground')">Technician
              <br>Signature
            </a>
          </td>
          <td class="signature_holder bottom-border" id="techsignprbackground" colspan="2"></td>
        </tr>
        <tr class="noborder">
          <td>
            <br>
          </td>
        </tr>
      </table>
      
      <!-- EQUIPMENT REMOVAL FOR REPAIR -->
      <table align="center" style="border: 1px solid">
        <tr class="noborder">
          <!-- Doc Header -->
          <th colspan="8">
            <h3 style="text-align: center;">EQUIPMENT REMOVAL FOR REPAIR</h3>
          </th>
        </tr>
        
        <tr class="noborder">
          <!-- SITA Ref -->
          <td style="text-align: right;">SITA Ref:</td>
          <td colspan="3" class="bottom-border"></td>
          <td style="text-align: right;">WEB No:</td>
          <td colspan="2" class="bottom-border"></td>
        </tr>
        
        <tr class="noborder">
          <!-- HEAT row -->
          <td style="text-align: right;">Heat Ref:</td>
          <td colspan="3" class="bottom-border"></td>
          <td style="text-align: right;">Date:</td>
          <td colspan="2" class="bottom-border">
          </td>
        </tr>
        
        <tr class="noborder">
          <!-- blank row -->
          <td>
            <br>
          </td>
        </tr>
        
        <tr class="noborder">
          <!-- Item Removed -->
          <td style="text-align: right">Item Removed:</td>
          <td colspan="4" style="border-bottom: 0.5px solid;"></td>
        </tr>
        
        <tr class="noborder">
          <!-- Item Serial -->
          <td style="text-align: right">Item Serial:</td>
          <td colspan="4" style="border-bottom: 0.5px solid;"></td>
        </tr>
        
        <tr class="noborder">
          <!-- Blank row -->
          <td>
            <br>
          </td>
        </tr>
        
        <!-- Accessories -->
        <tr class="noborder">
          <td></td>
          <td style="width: 15%; text-align: left;" colspan="3">Accessories Taken</td>
          <td></td>
          <td style="width: 20%; text-align: left;" colspan="3">Accessories left on site</td>
        </tr>
        
        <tr class="noborder">
          <td style="width: 15%; text-align: center;"></td>
          <td style="width: 30%;" colspan="2">1.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
          <td style="width: 20%; text-align: center;" colspan="2"></td>
          <td style="width: 35%;" colspan="2">1.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
        </tr>
        
        <tr class="noborder">
          <td style="width: 15%;">
            <br>
          </td>
          <td style="width: 30%;" colspan="2">2.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
          <td style="width: 20%; text-align: center;" colspan="2"></td>
          <td style="width: 35%;" colspan="2">2.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
        </tr>
        
        <tr class="noborder">
          <td style="width: 15%;">
            <br>
          </td>
          <td style="width: 30%;" colspan="2">3.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
          <td style="width: 20%; text-align: center;" colspan="2"></td>
          <td style="width: 35%;" colspan="2">3.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
        </tr>
        
        <tr class="noborder">
          <td style="width: 15%;">
            <br>
          </td>
          <td style="width: 30%;" colspan="2">4.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
          <td style="width: 20%; text-align: center;" colspan="2"></td>
          <td style="width: 35%;" colspan="2">4.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
        </tr>
        
        <tr class="noborder">
          <td style="width: 15%;">
            <br>
          </td>
          <td style="width: 30%;" colspan="2">5.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
          <td style="width: 20%; text-align: center;" colspan="2"></td>
          <td style="width: 35%;" colspan="2">5.
            <input style="border-bottom: 0.5px solid" type="text" size="20">
          </td>
        </tr>
        
        <tr class="noborder">
          <td>
            <br>
          </td>
        </tr>
        
        <tr class="noborder">
          <td style="text-align: right;">
            Additional
            <br> Findings
          </td>
          <td colspan="6">
            <textarea style="width: 85%; border: 0.5px solid; margin-left: 0px;"></textarea>
          </td>
        </tr>
        
        <tr class="noborder">
          <td>
            <br>
            <br>
          </td>
        </tr>
        
        <tr class="noborder">
          <td style="text-align: right;">Client Name:</td>
          <td colspan="2" style="border-bottom: 0.5px solid;">
            
          </td>
          <td colspan="2" style="text-align: right;">Technician Name:</td>
          <td colspan="2" style="border-bottom: 0.5px solid;"> </td>
        </tr>
        
        <tr class="noborder">
          <td>
            <br>
          </td>
        </tr>
        
        <tr class="noborder">
          <td style="text-align: right;" rowspan="2">
            Client
            <br>Signature
          </td>
          <td colspan="2" rowspan="2" style="border-bottom: 0.5px solid;"></td>
          <td colspan="2" rowspan="2" style="text-align: center;">
            Technician
            <br>Signature
          </td>
          <td rowspan="2" style="border-bottom: 0.5px solid;"></td>
        </tr>
        
        <tr class="noborder">
          <td>
            <br>
            <br>
          </td>
        </tr>
        <tr class="noborder">
          <td>
            <br>
            <br>
          </td>
        </tr>
      </table>
      
    </div>