/* Font Definitions */

@media screen {
    * {
        font-family: sans-serif;
    }
    body {
       background-color: bisque; 
    }

    .hide_on_screen {
        display: none;
    }

    .page {
        display: grid;
        align-items: center;
        background-color: #fff;
        padding: 1cm;
        max-width: 21cm;
        min-width: 60%;
        box-shadow: 0px 0px 5px #000000;
        font-size: 80%;
        min-width: 80%;        
    }

    .page>* {
        /* box-shadow: 0px 0px 5px #000000; */
        width: 100%;
    }
}

@media print {
    * {
        font-family: "Times New Roman";
        /* font-size: 14pt;  */
    }

    .page {
        min-width: 100%;
    }
    .page #user-damage {
        font-size: 16pt;
        padding: 1cm;
    }

    .page #completion {
        font-size: 20pt;
        font-weight: bold;
        font-style: italic;
    }

    .page #clientcom {
        font-size: 20pt;
        font-weight: bold;
        font-style: italic;
    }

    .page > * {
        padding: 0px;
    }

    .hide_on_print {
        display: none;
    }

    .sticky.hide_on_print {
        display: none;
    }
}

#signature-pad,
#call {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#call {
    width: 50%;
    /*  height: 135pt;*/
    background-color: #fff;
    border: 1px solid #838380;
    border-radius: 3px;
    overflow: auto;
}

.imagedisplay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

input.textinput {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    font-size: 13.0pt;
    height: 100%;
    width: 100%;
}

td {
    border-bottom: 0.5px solid;
    border-right: 0.5px solid;
    padding-left: 5px;
    height: 28px;
}

th {
    text-align: left;
    border-bottom: 0.5px solid;
    border-right: 0.5px solid;
    padding-left: 10px;
    /*background-color: lightgrey;*/
}

.sladetailsdatetime {
    width: 35%;
}

.sladetailsCol1 {
    width: 15%;
}

.sitetable {
    border-top: 0.5px solid;
    border-left: 0.5px solid;
    border-bottom: none;
}

.border1px,
.border1px>td {
    border: 0.5px solid;
}

h6 {
    text-decoration-line: underline;
    font-weight: bold;
    text-align: center;
}

.borderse {
    border-right: solid 0.5px black;
    border-bottom: solid 0.5px black;
}

.bordernw {
    border-top: solid 0.5px black;
    border-left: solid 0.5px black;
 }

#user-damage {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "logo logo logo logo"
        "title title title title"
        "kh-ref kh-ref cl-ref cl-ref"
        "completion completion completion completion"
        "declaration declaration declaration declaration"
        "procedure procedure procedure procedure"
        "equip-det equip-det equip-det1 equip-det1"
        "eqstatus eqstatus eqstatus eqstatus"
        "status status status statuschk"
        "description description description description"
        "custname custname1 custname1 custname1"
        "techname techname techname udtechsignbackground"
        "line line line line "
        "clientcom clientcom clientcom clientcom"
        "clientcom1 clientcom1 clientcom2 clientcom2 "
        "udclientsignbackground clientsign1 clientsign1 clientdate";

}

#user-damage #logo {
    grid-area: logo;
}
#user-damage #techname {
    grid-area: techname;
}
#user-damage #clientsign1 {
    grid-area: clientsign1;
}
#user-damage #udtechsignbackground {
    grid-area: udtechsignbackground;
    border-bottom: dotted 0.5px;
}
#user-damage  #udclientsignbackground {
    grid-area: udclientsignbackground;
    border-bottom: dotted 0.5px;
}

#user-damage #custname {
    grid-area: custname;
}
#user-damage #custname1 {
    grid-area: custname1;
}
#user-damage #clientcom {
    grid-area: clientcom;
    text-align: center;
    font-size: 20px;
}
#user-damage #clientcom1 {
    grid-area: clientcom1;
}
#user-damage #clientcom2 {
    grid-area: clientcom2;
}
#user-damage #clientdate {
    grid-area: clientdate;
}
#user-damage #eqstatus {
    grid-area: eqstatus;
}
#user-damage #title {
    grid-area: title;
}
#user-damage #kh-ref {
    grid-area: kh-ref;
    font-weight: bold;
}
#user-damage #cl-ref {
    grid-area: cl-ref;
    text-align: right;
    font-weight: bold;
}
#user-damage #completion {
    grid-area: completion;
}
#user-damage #declaration {
    grid-area: declaration;
}
#user-damage #procedure {
    grid-area: procedure;
}
#user-damage #equip-det {
    grid-area: equip-det;
}
#user-damage #equip-det1 {
    grid-area: equip-det1;
}
#user-damage #description {
    grid-area: description;
}
#user-damage #damage-details {
    grid-area: damage-details;
}
#user-damage #status {
    grid-area: status;
}
#user-damage #statuschk {
    grid-area: statuschk;
}
#user-damage #line {
    grid-area: line;
}

/* GRID JOBCARD STYLING */

#jobcard-grid {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
     "jc-logo jc-logo jc-logo"
     "jc-title jc-title jc-title"
     "khau-ref client sita-ref" 
     "other-ref other-ref other-ref" 
     ;

}

#jobcard-grid #khau-ref {
    grid-area: khau-ref;
}

#jobcard-grid #jc-logo {
    grid-area: jc-logo;
}
#jobcard-grid #jc-title {
    grid-area: jc-title;
}

#jobcard-grid #client {
    grid-area: client;
    text-align: center;
}
#jobcard-grid #sita-ref {
    grid-area: sita-ref;
    text-align: right;
}

#jobcard-grid #other-ref {
    grid-area: other-ref;
}

#jobcard-contacts-grid {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1.5fr;
    margin-bottom: 1em;
}

#jobcard-contacts-grid #repheader {
    grid-column-start: 1;
    grid-column-end: 3;
}
#jobcard-contacts-grid #contheader {
    grid-column-start: 3;
    grid-column-end: 5;
}


#jobcard-site-grid {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1.5fr;
    
}
#jobcard-site-grid #siteheader {
    grid-column-start: 1;
    grid-column-end: 3;
}
#jobcard-site-grid #equipheader {
    grid-column-start: 3;
    grid-column-end: 5;
}
#jobcard-site-grid #warranty-text {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
}
#jobcard-site-grid #warranty-input {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

#jobcard-details-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.375fr 0.375fr 0.375fr 0.375fr 0.5fr 0.75fr 0.375fr 0.375fr;
    margin-bottom: 1em;
}
#jobcard-details-grid .datetime {
    grid-column-start: 2;
    grid-column-end: 6;
}
#jobcard-details-grid .textheader {
    text-align: center;
    font-weight: bold;
}
#jobcard-details-grid .span2 {
    grid-column-start: 8;
    grid-column-end: 10;
}
#jobcard-details-grid .labels {
    grid-column-start: 6;
    grid-column-end: 7;
}
#jobcard-details-grid .original-visit {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
}
#jobcard-details-grid .return-visit {
    grid-column-start: 4;
    grid-column-end: 6;
    text-align: center;
}
#jobcard-details-grid .lastrow {
    grid-column-start: 1;
    grid-column-end: 6;
}


#jobcard-sla-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#jobcard-sla-grid .prob {
    grid-column-start: span 3;
    height: 5em;
}

#jobcard-backup-grid {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    margin-bottom: 1em;
}
#jobcard-backup-grid .header {
    grid-column-start: span 3;
    text-align: center;
}

#jobcard-backup-grid .clientsign {
    grid-column-start: span 3;
    height: 5em;
}
#jobcard-backup-grid .textentry {
    grid-column-start: span 2;
}

#jobcard-signoff-grid {
    display: grid;
    grid-template-columns: repeat(10,1fr) ;
    margin-bottom: 1em;
}

#jobcard-signoff-grid .span10 {
    grid-column-start: span 10;
}
#jobcard-signoff-grid .span9 {
    grid-column-start: span 9;
}
#jobcard-signoff-grid .span6 {
    grid-column-start: span 6;
    text-align: center;
}
#jobcard-signoff-grid .span1 {
    text-align: center;
}
#jobcard-signoff-grid .span6text {
    grid-column-start: span 6;
    grid-row-start: span 3;
}

#jobcard-signoff-grid .span4 {
    grid-column-start: span 4;
    text-align: center;
}

#jobcard-signature-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
}

#jobcard-signature-grid .noborder {
    border: none;
    height: 5em;
}

#jobcard-signature-grid .span3rows {
    grid-row-start: span 3;
    
}

#jobcard-signature-grid .textdisplay {
    text-align: center;
   
}
#jobcard-signature-grid .vtextalign {
    line-height: 5em;
   
}

#fuel-entry {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "fueldate fuelliters fuelamount fueljobcard fuelvehicle"
        "submitbutton submitbutton submitbutton submitbutton submitbutton"
        ;
}

#fuel-entry #fueldate{
    grid-area: fueldate;
}
#fuel-entry #fuelliters{
    grid-area: fuelliters;
}
#fuel-entry #fuelamount{
    grid-area: fuelamount;
}
#fuel-entry #fueljobcard{
    grid-area: fueljobcard;
}
#fuel-entry #fuelvehicle{
    grid-area: fuelvehicle;
}
#fuel-entry #submitbutton{
    grid-area: submitbutton;
}

#fuel-table, .fuel-report-line {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "tfueldate tfuelliters tfuelamount tfueljobcard tfuelvehicle"
        ;
}
#fuel-table #tfueldate{
    grid-area: tfueldate;
    text-align: center;
    border-right: solid black 1px;
}
#fuel-table #tfuelliters{
    grid-area: tfuelliters;
    text-align: center;
    border-right: solid black 1px;
}
#fuel-table #tfuelamount{
    grid-area: tfuelamount;
    text-align: center;
    border-right: solid black 1px;
}
#fuel-table #tfueljobcard{
    grid-area: tfueljobcard;
    text-align: center;
    border-right: solid black 1px;
}
#fuel-table #tfuelvehicle{
    grid-area: tfuelvehicle;
    text-align: center;
}

#fuel-table .fuel-report-line {
    grid-column: 1 / span 5;
}

#fuel-table .fuel-report-line span {
    text-align: center;
}

.page table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
}

#callidsection input {
    border-bottom: 0.5px solid;
}

#callidsection,
#callidsection td {
    text-align: center;
}

.label {
    width: 15%;
}

#reportersection .entry {
    width: 35%;

}


.cellcenter {
    text-align: center;
}

.replace {
    width: 20%;
}

.faulty {
    width: 15%;
}

.kilos {
    max-width: 8.75%;

}

.entry {
    width: 35%;
}

.tablespacing {
    margin-bottom: 1em;
}

.serviceuplabel {
    width: 10%;
}

.serviceupentry {
    width: 23%;
}

.serviceupsigntag1 {
    border-bottom: none;
}

.serviceupsigntag2 {
    border-top: none;
}

.signoffcell {
    border: none;
    width: 33.3%
}

.usercomments {
    border: 0.5px dotted;
    width: 60%;
}

.servicelevel {
    border: 0.5px solid;
    width: 10%;
    text-align: center;
}

input:focus,
textarea:focus {
    background-color: powderblue;
}

.inputclass {
    border: none;
    height: 15px;
}

/* .tableinputclass {
    font-size: 8.0pt;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
} */

.customername {
    font-size: 12.0pt;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.accessories {
    font-size: 10.0pt;
    border-top: none;
    border-right: none;
    border-bottom: .5pt solid;
    border-left: none;
}

.noborder,
.noborder * {
    border: none;
    /* border: 0.5px solid black; */
}

.inside_border {
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

.right_BorderNone {
    border-right: none;
    border-bottom: none;
}

.right_tablecell {
    border-bottom: 0.5px solid black;
}

.bottom-border {
    /* border:none; */
    border-bottom: 0.5px solid #000000;
}

table {
    border: 1px solid;
    border-left: 1px solid;
    /*border-color: red;*/
}

.tableleft {
    border-left: 0.5px solid;
}

.tabletop {
    border-top: 0.5px solid;
}




h2 {
    font-size: 15.0pt;
}

h3 {
    font-size: 20.0pt;
}