<html ng-app="Jobcard_app" ng-controller="Jobcard_controller">

<head>
  <title>{{doc.callid}} Parts Replacement</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <link rel="stylesheet" href="signature_pad-master/docs/css/signature-pad.css">
	<link rel="stylesheet" href="style.css">

</head>
<body lang="EN-ZA">
<div id="toplevel" class="ng-scope"><img  style="display: block; 
           margin-left: auto; 
           margin-right: auto;" class="image" src="Parts replacement_files/khauleza.png" alt="Khauleza Logo: "  height="50" >

<br>

<!-- PC COMPONENTS REPLACEMENT -->

  <table align="center"  style="border: 1px solid">
    
    <tr class="noborder">  <!-- Doc Header -->
  	<th colspan="7"><h3 style="text-align: center;">PC COMPONENTS REPLACEMENT</h3></th>
    </tr>
    
    <tr class="noborder">  <!-- SITA Ref -->
    	<td style="text-align: right;">SITA Ref:</td>
    	<td colspan="2"><input style="border-bottom: 0.5px solid;" class="input" type="text" ng-model="doc.sitaref"></td>
    	<td></td>
    	<td style="text-align: right;">WEB No:</td>
    	<td colspan="2">
    		<input style="border-bottom: 0.5px solid;" class="input " type="text" ng-model="equipment.asset">
    	</td>
    </tr>
    
    <tr class="noborder">   <!-- HEAT row -->
    	<td style="text-align: right;">Heat Ref:</td>
    	<td colspan="2">
    		<input style="border-bottom: 0.5px solid;" class="input" Ctype="text" ng-model="doc.callid">
    	</td>
    	<td></td>
    	<td style="text-align: right;">Date:</td>
    	<td colspan="2">
    		<input style="border-bottom: 0.5px solid;" class="input" Ctype="text" ng-model="sla.arrival">
    	</td>  	
    </tr>

    <tr class="noborder">
  	<td><br></td>
    </tr>

    <tr class="noborder">
    	<td colspan="3">On site findings / faulty items</td>
    	<td></td>
    	<td colspan="3">Replacement details / new items</td>
    </tr>

    <tr >
    	<td style="width: 15%; border: none;">Part</td>
    	<td style="width: 15%; border: none;">Type & Model</td>
    	<td style="width: 15%; border: none;">Serial number</td>
    	<td  style="width: 5%; border: none;"></td>
    	<td style="width: 15%; border: none;">Part</td>
    	<td style="width: 15%; border: none;">Type & model</td>
    	<td style="width: 15%; border: none;">Serial Number</td>
    </tr>

    <tr style="border: 0.5px solid">
    	<td style="width: 15%; border-top: 0.5px solid;">M/B</td>
    	<td style="width: 15%; border-top: 0.5px solid;"></td>
    	<td style="width: 15%; border-top: 0.5px solid;"></td>
    	<td style="width: 5%; border: none;"></td>
    	<td style="width: 15%; border-top: 0.5px solid; border-left: 0.5px solid;">M/B</td>
    	<td style="width: 15%; border-top: 0.5px solid;"></td>
    	<td style="width: 15%; border-top: 0.5px solid; border-right: none;"></td>
    </tr>

    <tr style="border: 0.5px solid">
    	<td style="width: 15%;">CPU</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%;"></td>
    	<td style="width: 5%; border: none;"></td>
    	<td style="width: 15%; border-left: 0.5px solid;">CPU</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%; border-right: none;"></td>
    </tr>

    <tr style="border: 0.5px solid">
    	<td style="width: 15%;">RAM SIZE</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%;"></td>
    	<td style="width: 5%; border: none;"></td>
    	<td style="width: 15%; border-left: 0.5px solid;">RAM SIZE</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%; border-right: none;"></td>
    </tr>  

    <tr>
    	<td style="width: 15%;"><br></td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%;"></td>
    	<td style="width: 5%; border: none;"></td>
    	<td style="width: 15%; border-left: 0.5px solid;"></td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%; border-right: none;"></td>
    </tr>  

    <tr >
    	<td style="width: 15%;">PSU</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%;"></td>
    	<td style="width: 5%; border: none;"></td>
    	<td style="width: 15%; border-left: 0.5px solid;">PSU</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%; border-right: none;"></td>
    </tr>

    <tr >
    	<td style="width: 15%;">DVD/CD</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%;"></td>
    	<td style="width: 5%; border: none;"></td>
    	<td style="width: 15%; border-left: 0.5px solid;">DVD/CD</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%; border-right: none;"></td>
    </tr>

    <tr >
    	<td style="width: 15%;">HDD</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%;"></td>
    	<td style="width: 5%; border: none;"></td>
    	<td style="width: 15%; border-left: 0.5px solid;">HDD</td>
    	<td style="width: 15%;"></td>
    	<td style="width: 15%; border-right: none;"></td>
    </tr>

  <tr class="noborder">
  	<td><br></td>
  </tr>

  <tr class="noborder">
  	<td style="text-align: right;">Client name:</td>
  	<td style="border-bottom: 0.5px solid"colspan="2">
  		<input type="text" ng-model="reporter.name"></td>
  	<td style="width: 5%;"></td>
  	<td style="text-align: right;">Client Name:</td>
  	<td style="border-bottom: 0.5px solid" colspan="2">{{reporter.name}}</td>
  </tr>

  <tr class="noborder">
    <td><br></td>
    <td id="customersignpr1background" class="signature_holder" colspan="2" rowspan="2" style="border-bottom: 0.5px solid"></td>
    <td colspan="2" ></td>
    <td id="customersignpr2background" class="signature_holder" colspan="2" rowspan="2" style="border-bottom: 0.5px solid;"></td>


  </tr>

  <tr class="noborder">
    <td style="text-align: right;">
      <a href="#prclientsign1" id="prclientsign1">Client Signature:</td>
    <td></td>
    <td style="text-align: right;">
     <a href="#prclientsign2" id="prclientsign2">Client Signature:</td>

  </tr>

  <tr class="noborder">
    <td><br></td>
  </tr>
  <tr class="noborder">
    <td style="text-align: right;">Technician</td>
    <td colspan="2" rowspan="2" style="border-bottom: 0.5px solid;"></td>
    <td></td>
    <td style="text-align: right">Technician</td>
    <td class="signature_holder" id="techsignprbackground" colspan="2" rowspan="2" style="border-bottom: 0.5px solid;"></td>
  </tr>

  <tr class="noborder">
    <td style="text-align: right;">Name</td>
    <td></td>
    <td style="text-align: right;">
      <a href="#techsignpr" id="techsignpr">Signature
    </td>
  </tr>

  <tr class="noborder">
    <td><br></td>
  </tr>


  </div>
  </table>


<!-- EQUIPMENT REMOVAL FOR REPAIR -->
  <table align="center"  style="border: 1px solid">
      <tr class="noborder">  <!-- Doc Header -->
    <th colspan="7"><h3 style="text-align: center;">EQUIPMENT REMOVAL FOR REPAIR</h3></th>
    </tr>
    
    <tr class="noborder">  <!-- SITA Ref -->
      <td style="text-align: right;">SITA Ref:</td>
      <td colspan="2"><input style="border-bottom: 0.5px solid;" class="input" type="text" ng-model="doc.sitaref"></td>
      <td></td>
      <td style="text-align: right;">WEB No:</td>
      <td colspan="2">
        <input style="border-bottom: 0.5px solid;" class="input " type="text" ng-model="equipment.asset">
      </td>
    </tr>
    
    <tr class="noborder">   <!-- HEAT row -->
      <td style="text-align: right;">Heat Ref:</td>
      <td colspan="2">
        <input style="border-bottom: 0.5px solid;" class="input" Ctype="text" ng-model="doc.callid">
      </td>
      <td></td>
      <td style="text-align: right;">Date:</td>
      <td colspan="2">
        <input style="border-bottom: 0.5px solid;" class="input" Ctype="text" ng-model="sla.arrival">
      </td>   
    </tr>

    <tr class="noborder">  <!-- blank row -->
       <td><br></td>
    </tr>

    <tr class="noborder">  <!-- Item Removed -->
      <td style="text-align: right">Item Removed:</td>
      <td colspan="4" style="border-bottom: 0.5px solid;"></td>
    </tr>

    <tr class="noborder">  <!-- Item Serial -->
      <td style="text-align: right">Item Serial:</td>
      <td colspan="4" style="border-bottom: 0.5px solid;"></td>
    </tr>

    <tr class="noborder">  <!-- Blank row -->
      <td><br></td>
    </tr>

    <tr class="noborder"> <!-- Accessories -->
      <td style="width: 15%; text-align: center;">Acessories</td>
      <td style="width: 30%;" colspan="2"><br></td>
      <td style="width: 20%; text-align: center;"  colspan="2">Accessories left on</td>
      <td style="width: 35%;" colspan="2"><br></td>
    </tr>

    <tr class="noborder">
      <td style="width: 15%; text-align: center;">Taken</td>
      <td style="width: 30%;" colspan="2">1.<input style="border-bottom: 0.5px solid"type="text" size="20"></td>
      <td style="width: 20%; text-align: center;" colspan="2">site</td>
      <td style="width: 35%;" colspan="2">1. <input style="border-bottom: 0.5px solid" type="text" size="20"></td>
    </tr>

    <tr class="noborder">
      <td style="width: 15%;"><br></td>
      <td style="width: 30%;" colspan="2">2.<input style="border-bottom: 0.5px solid" type="text" size="20"></td>
      <td style="width: 20%; text-align: center;" colspan="2"></td>
      <td style="width: 35%;" colspan="2">2. <input style="border-bottom: 0.5px solid" type="text" size="20"></td>
    </tr>

    <tr class="noborder">
      <td style="width: 15%;"><br></td>
      <td style="width: 30%;" colspan="2">3.<input style="border-bottom: 0.5px solid" type="text" size="20"></td>
      <td style="width: 20%; text-align: center;" colspan="2"></td>
      <td style="width: 35%;" colspan="2">3. <input style="border-bottom: 0.5px solid" type="text" size="20"></td>
    </tr>

    <tr class="noborder">
      <td style="width: 15%;"><br></td>
      <td style="width: 30%;" colspan="2">4.<input style="border-bottom: 0.5px solid" type="text" size="20"></td>
      <td style="width: 20%; text-align: center;" colspan="2"></td>
      <td style="width: 35%;" colspan="2">4. <input style="border-bottom: 0.5px solid" type="text" size="20"></td>
    </tr>

    <tr class="noborder">
      <td style="width: 15%;"><br></td>
      <td style="width: 30%;" colspan="2">5.<input style="border-bottom: 0.5px solid" type="text" size="20"></td>
      <td style="width: 20%; text-align: center;" colspan="2"></td>
      <td style="width: 35%;" colspan="2">5. <input style="border-bottom: 0.5px solid" type="text" size="20"></td>
    </tr>

    <tr class="noborder">
       <td><br></td>
     </tr>

    <tr class="noborder">
      <td style="text-align: right;">
        Additional <br>
        Findings
      </td>
      <td colspan="6" ><textarea style="width: 85%; border: 0.5px solid; margin-left: 0px;"></textarea></td>
    </tr> 

    <tr class="noborder">
          <td><br><br></td>
      </tr>

    <tr class="noborder">
      <td style="text-align: right;">Client Name:</td>
      <td colspan="2" style="border-bottom: 0.5px solid;">
        <input type="text" ng-model="reporter.name">
      </td>
      <td colspan="2" style="text-align: right;">Technician Name:</td>
      <td colspan="2" style="border-bottom: 0.5px solid;"> Jaco Swart</td>
    </tr>

    <tr class="noborder">
          <td><br></td>
    </tr>

    <tr class="noborder">
      <td style="text-align: right" rowspan="2">
       <a href="#clientSignEquipRemove" id="clientSignEquipRemove"> Signature :</td>
      
      <td colspan="2" rowspan="2" id="clientSignEquipRemoveBackground" class="signature_holder" style="border-bottom: 0.5px solid;"></td>
      
      <td colspan="2" rowspan="2" style="text-align: right" class="signature_holder" style="border-bottom: 0.5px solid;">
       <a  href="#technicianSignEquipRemove" id="technicianSignEquipRemove">Signature :</td>
 
      <td colspan="2" rowspan="2" id="technicianSignEquipRemoveBackground" class="signature_holder" style="border-bottom: 0.5px solid;"></td>
    </tr>



    <tr class="noborder">
          <td><br><br></td>
    </tr>





  </table>


<!-- signature pad -->
    <div id="signature-pad" class="hide_on_print hide_on_screen signature-pad">
        <div class="signature-pad--body">
            <canvas></canvas>
        </div>
        <div class="signature-pad--footer">
            <div class="description">Sign above</div>
            <div class="signature-pad--actions">
                <div>
                    <button type="button" class="button clear" data-action="clear">Clear</button>
                    <button type="button" class="button" data-action="change-color">Change color</button>
                    <button type="button" class="button" data-action="undo">Undo</button>
                </div>
                <div>
                    <button type="button" class="button save" data-action="save-jpg">Submit Signature</button>
                </div>
            </div>
        </div>
    </div>

 <script src="angular.js" type="text/javascript"></script>
 <script src="Khauleza.js" type="text/javascript"></script>
 <script src="signature_pad-master/docs/js/signature_pad.umd.js"></script>
 <script src="signature_pad-master/docs/js/app.js"></script>

</body>

</html>
