
/* Font Definitions */

@media screen {
    * {
        font-family: sans-serif;
    }
    .hide_on_screen {
        display: none;
    }
}

@media print {
    * {
        font-family: "Times New Roman";
    }
    .hide_on_print {
        display: none;
     }
}

#signature-pad {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

input {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    font-size: 8.0pt;
    height: 13px;
}

td {
  border-bottom: 0.5px solid;
  border-right: 0.5px solid;
  padding-left: 5px;
}

th {
  text-align: left;
  border-bottom: 0.5px solid;
  border-right: 0.5px solid;
  padding-left: 10px;
  /*background-color: lightgrey;*/
}



.sladetailsdatetime {
    width: 35%;
}

.sladetailsCol1 {
    width: 15%;
}        

.sitetable {
    border-top: 0.5px solid;
    border-left: 0.5px solid;
    border-bottom: none;
}

.border1px, .border1px > td {
  border:0.5px solid;
}

#toplevel table {
  width: 450.8pt;
  padding:0;
  border-spacing: 0;
}

#callidsection input {
  border-bottom: 0.5px solid;
}

#callidsection, #callidsection td {
  width: 20%;

  text-align: center;
}

.label {
  width: 15%;
}

#reportersection .entry {
  width: 35%;

}


.cellcenter {
    text-align: center;
}

.replace {
    width: 20%;
}

.faulty {
    width: 15%;
}

.kilos {
    max-width: 8.75%;

}


.entry {
    width: 35%;
}

.tablespacing {
    margin-bottom: 1em;
}

.serviceuplabel {
    width: 10%;
}

.serviceupentry {
    width: 23%;
}

.serviceupsigntag1 {
    border-bottom: none;
}

.serviceupsigntag2 {
    border-top: none;
}

.signoffcell {
    border:none;
    width: 33.3%
}

.usercomments {
    border:0.5px dotted;
    width: 60%;
}

.servicelevel {
    border:0.5px solid;
    width: 10%;
    text-align:center;
}

input:focus, textarea:focus {
    background-color: powderblue;
}

.inputclass
    {border-top:none;
    border-right:none;
    border-bottom:none;
    border-left:none;}

.tableinputclass
    {font-size:8.0pt;
    border-top:none;
    border-right:none;
    border-bottom:none;
    border-left:none;}

.customername
    {font-size:12.0pt;
    border-top:none;
    border-right:none;
    border-bottom:none;
    border-left:none;}

.accessories
    {font-size:10.0pt;
    border-top:none;
    border-right:none;
    border-bottom:.5pt solid;
    border-left:none;}

.noborder, .noborder * {
  border:none;
}

table  {
    border: 1px solid;
    border-left: 1px solid;
    /*border-color: red;*/
}

.tableleft {
    border-left: 0.5px solid;
}

.tabletop {
    border-top: 0.5px solid;
}


* {
  font-size: 8.0pt;
}

h2 {
    font-size: 13.0pt;
}
h3 {
  font-size: 12.0pt;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/*  height: 100vh;
  width: 100%;*/
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 32px 16px;
}

.signature-pad {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 230px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px;
  padding: 16px;
}

.signature-pad::before,
.signature-pad::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 40%;
  height: 10px;
  bottom: 10px;
  background: transparent;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.signature-pad::before {
  left: 20px;
  -webkit-transform: skew(-3deg) rotate(-3deg);
          transform: skew(-3deg) rotate(-3deg);
}

.signature-pad::after {
  right: 20px;
  -webkit-transform: skew(3deg) rotate(3deg);
          transform: skew(3deg) rotate(3deg);
}

.signature-pad--body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #f4f4f4;
}

.signature-pad--body
canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.signature-pad--footer {
  color: #C3C3C3;
  text-align: center;
  font-size: 1.2em;
  margin-top: 8px;
}

.signature-pad--actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.signature_holder {
    background-size:     50%;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center ;              /* optional, center the image */
}

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}